Package: voxl-tflite-server
Version: 0.0.3
Section: base
Priority: optional
Architecture: any
Depends: libmodal_pipe, libmodal_json, opencv
Maintainer: modalai.com
Description: client of voxl-camera-server that does deep learning (object detection, monocular depth estimation)
