Package: voxl-tflite-server
Version: 0.1.2
Section: base
Priority: optional
Architecture: any
Depends: libmodal_pipe,libmodal_json,opencv,voxl-tflite
Maintainer: modalai.com
Description: client of voxl-camera-server that does deep learning (object detection, monocular depth estimation)
Conflicts: voxl-mpa-tflite-server
Replaces: voxl-mpa-tflite-server
