Package: voxl-tflite-server
Version: 0.2.0
Section: base
Priority: optional
Architecture: all
Depends: libmodal-pipe,libmodal-json, voxl-opencv, voxl-tflite(>=2.2.3)
Maintainer: modalai.com
Description: client of voxl-camera-server that does deep learning (object detection, monocular depth estimation)
Conflicts: voxl-mpa-tflite-server
Replaces: voxl-mpa-tflite-server
