Package: voxl-tflite-server
Version: 0.2.0
Section: base
Priority: optional
Architecture: all
Depends: libmodal-pipe,libmodal-json, voxl-opencv, voxl-tflite
Maintainer: modalai.com
Description: client of voxl-camera-server that does deep learning 
Conflicts: voxl-mpa-tflite-server
Replaces: voxl-mpa-tflite-server
